@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.logo {
    color: black;
    font-size: 3em;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin-left: 10px;
    /* animation: logo 4s linear infinite; */
    text-shadow: 1px 1px 2px cadetblue,
                 -1px -1px 2px cadetblue;
}

h1 {
    text-align: center;
    margin-top: 10px;
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    color: cyan;
    text-shadow: 1px 1px 4px rgba(0,0,0,1),
                -1px -1px 4px rgba(0,0,0,1);
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px auto;
    text-align: center;
    color: cyan;
    text-shadow: 1px 1px 4px rgba(0,0,0,1),
                -1px -1px 4px rgba(0,0,0,1);
}

body {
    background: rgb(20,0,139);
background: radial-gradient(circle, rgba(20,0,139,1) 0%, rgba(0,0,0,1) 100%);
}

.container {
    /* background-color: aqua; */
    border-radius: 5px;
    width: 60%;
    height: 300px;
    margin: 20px  auto 0 auto;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 1px 1px 4px cyan,
                -1px -1px 4px cyan;
}

.container .countdown {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 3em;
    color: white;
}

.container h3 {
    position: absolute;
    width: 100%;
    display: block;
    top: 5px;
    text-align: center;
    font-size: 3em;
    color: #ddd;
}

.row {
    display: flex;
    width: 60%;
    justify-content: space-between;
}

.kotak {
    width: 100px;
    height: 100px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    border: 1px solid black;
    box-shadow: 1px 1px 4px cyan,
                -1px -1px 4px cyan;
}

.container #mulai {
    position: absolute;
    bottom: 10px;
    font-size: 1.5em;
    background-color: rgba(0,0,0,.2);
    padding: 2px;
    border-radius: 5px;
    color: #ddd;
    box-shadow: 1px 1px 4px blue,
                -1px -1px 4px blue;
}

.container2 {
    width: 30%;
    margin: 10px  auto 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.container2 .hasil h3 {
    text-align: center;
    color: #ddd;
}

.container2 .hasil .kotak {
    font-size: 2em;
}

.container2 .jawab {
    display: flex;
    flex-direction: column;
    max-height: max-content;
}

.container2 .jawab #tebak {
    height: 50px;
    display: block;
    font-size: 2em;
    text-align: center;
    border: 1px solid black;
    width: 100px;
    animation: animasiShadow 4s ease infinite;
    background-color: white;
    color: black;
}
.button {
    margin: 10px auto;
    font-size: 1.3em;
    background-color: black;
    color: #ddd;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 4px white,
                -1px -1px 4px white;
}

@keyframes animasiShadow {
    0% {
        box-shadow: 1px 1px 4px cyan,
                    -1px -1px 4px cyan;
    }
    25% {
        box-shadow: 1px 1px 4px blue,
                    -1px -1px 4px blue;
    }
    50% {
        box-shadow: 1px 1px 4px green,
                    -1px -1px 4px green;
    }
    75% {
        box-shadow: 1px 1px 4px black,
                    -1px -1px 4px black;
    }
    100% {
        box-shadow: none;
    }
}

@media (max-width: 992px) {
    .kotak {
        height: 75px;
        font-size: 3em;
    }
}

@media (max-width: 768px) {
    .logo {
        text-align: center;
    }

    .container {
        width: 80%;
        height: 225px;
    }

    .kotak {
        height: 75px;
        font-size: 2em;
    }
}

@media (max-width: 600px) {
    .container {
        width: 80%;
        height: 200px;
    }

    .kotak {
        height: 75px;
        font-size: 2em;
    }
}


@media (max-width: 450px) {
    h1 {
        font-size: 2em;
    }

    .container {
        width: 80%;
        height: 150px;
    }

    .kotak {
        height: 50px;
        font-size: 1em;
    }

    .container h3 {
        font-size: 1em;
    }

    .container .countdown {
        font-size: 1.5em;
        top: 10px;
    }

    .container .papan h4 {
        font-size: .5em;
    }

    .container .papan .papanScore {
        width: 25px;
        height: 25px;
        font-size: 1em;
    }

    .container #mulai {
        font-size: 1em;
    }
}